.pagination {
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px;
    margin: 0;
  }

  &-block {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
    justify-content: center;
  }

  &-options {
    display: flex;
    justify-content: center;
    height: 30px;

    select {
      border: none;
      border-radius: 8px;
      border: 3px solid rgba(128, 128, 128, 0.651);

      option {
        border: 3px solid rgba(128, 128, 128, 0.651);
      }
    }

    p {
      margin: 0;
      display: flex;
      align-items: center;
      margin-right: 6px;
    }
  }
  &-item {
    list-style: none;
    margin: 4px 0px;
  }
  &-icon {
    cursor: pointer;
    font-weight: 500;
    border: none;
    width: 30px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0px 2px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(184, 184, 184);


    &:focus {
      background: var(--primary-color);
      color: var(--secondary-color);
    }

    &:hover {
      background: var(--primary-color);
      box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.68);
      color: var(--secondary-color);
    }

    
  }
}
