.pagination {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;

    &-page-select{
        height:50px;
    }

  &-btns {
    cursor: pointer;
    padding: 0;
    margin: 6px 0px;
    font-weight: 500;
    list-style: none;
    border: none;
    width: 70%;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: rgb(204, 204, 204);
  }
  &-previous {
    color: var(--secondary-color);
    font-weight: 500;
    margin-left: 8px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 18px 6px 6px 18px;
    padding: 10px;
    background: rgb(170, 170, 170);
    transition: all 0.3s ease;

    &:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      font-weight: 600;
    }
  }
  &-next {
    font-weight: 500;
    margin-right: 8px;
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding: 10px;
    background: rgb(170, 170, 170);
    border-radius: 6px 18px 18px 6px;
    transition: all 0.3s ease;

    &:hover {
      background: var(--primary-color);
      font-weight: 600;
      padding: 10px;
      color: var(--secondary-color);
    }
  }

  &-active {
    text-decoration: none;
    background: var(--primary-color);
    border-radius: 12px;
    padding: 10px;
    color: var(--secondary-color);
  }

  &-page-select{
    display: flex;
    margin-left:2px;
    height: 50px; 
    background: rgb(204, 204, 204);
    padding: 6px;
    color: gray;
    border-radius: 25px;
    p{
      margin: 0;
      
      font-weight: 700;
      width:70%;
      text-align: center;
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    select{
      background-color: transparent;
      margin-right: 10px;
      font-weight: 600;
      border:none;
      outline: none;
      color: gray;

      option{
        color: gray;
      }
    }
  }

  @media (max-width: 768px) {
    
    &-btns{
      width:100%;
    }
  }
}
