.market {
  display: flex;
  margin: 0;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  &__legend{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
  }
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0px;
  }
}

