.market {
  display: flex;
  margin: 0;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
  
  &__legend{
    color: white;
    text-align: center;
    font-size: 18px;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding: 20px 0px;
  }
}

