.trending-section{
    width: 100%;
    background:linear-gradient(to right, rgb(101, 168, 56), var(--primary-color), rgb(101, 168, 56));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

    h1{
        color:var(--secondary-color);
        text-align: center;
    }


    &__legend{
        color: var(--secondary-color);
        font-weight: 400;
        text-align: center;
    }

    &__img{
        position: absolute;
        bottom: 0;
        width: 300px;
        z-index: 0;
    }
  

    @media (max-width: 765px) {
        height: auto;
        padding: 20px 0px;

        &__legend{
            font-size:14px;
            font-weight: 300;
        }

        h1{
            font-size:20px;

        }
    }

}