.trending-section{
    width: 100%;
    background:linear-gradient(to top,  var(--primary-color), rgb(101, 168, 56));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

    h1{
        color:var(--white-01);
        text-align: center;
        text-transform: capitalize;
    }
    &__links{
        text-decoration: none;
        
    }


    &__legend{
        color:var(--white-01);
        font-weight: 400;
        text-align: center;
    }

    &__img{
        position: absolute;
        bottom: 0;
        width: 300px;
        z-index: 0;
    }
  

    @media (max-width: 765px) {
        height: auto;
        padding: 20px 0px;



        h1{
            font-size:20px;

        }
    }

}