.submenu {
  padding: 0;
  font-weight: 600;
  list-style: none;

  &-links {
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
      color: var(--white-01);
      text-shadow: 0px 0px 2px black;
    }
    &:focus {
      color: var(--white-01);
      text-shadow: 0px 0px 2px black;
    }

  }
  &__element {
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
  }
  &__element-active {
    opacity: 1;
  }
  &__bar {
    display: flex;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--secondary-color);
    text-transform: uppercase;

    &:hover {
      color: white;
      text-shadow: 0px 0px 2px black;
    }
  }
}
