.trending-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(45deg, rgb(41, 41, 41), rgb(65, 65, 65), rgb(43, 43, 43));
  padding: 6px 20px;
  border-radius: 8px;
  margin: 10px 0px;
  z-index: 20;
  background:linear-gradient(0deg, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%);

  &:hover{

    animation: shinyCard 2s linear infinite;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(82, 82, 82);

    span {
      font-weight: 600;
      margin-top: 4px;
    }
  }
  &__stats {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 20px;
      justify-content: space-around;
      


    h3 {
      font-size: 20px;
      margin: 0;
      text-align: center;
      margin-left: 4px;
      font-weight: 600;
      color:rgb(82, 82, 82);
      text-transform: capitalize;
    }
    p{
        text-align: right;
        margin: 0;
        font-weight: 500;
        color: rgb(82, 82, 82);
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }

  @keyframes shinyCard {
    0%{
      filter: drop-shadow(0px 0px 15px rgb(255, 245, 186));
    }
    50%{
      filter: drop-shadow(3px 4px 20px rgb(190, 255, 136));
    }
    100%{
      filter: drop-shadow(0px 0px 15px rgb(255, 244, 180));
    }
    
  }
}
