.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  background:  var(--primary-color);
  z-index: 10;
  box-shadow: 2px -4px 20px -8px rgb(59, 59, 59);


  &-block {
    width: 100%;
    z-index: 8;
    position: sticky;
    top: 0;
  }

  &-menu {
    color: rgb(53, 53, 53);
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 30px;
    font-size: 30px;
    transition: all 0.2s ease;
    z-index: 10;
    
  }

  &-logo {
    height: 4vh;
    margin-left: 30px;
    animation: shinyLogo 5s ease infinite;
    z-index: 7;
  }
  
}

@keyframes shinyLogo {
  0% {
    filter: drop-shadow(0px 0px 8px white);
  }
  50% {
    filter: drop-shadow(1px 1px 20px white);
  }
  100% {
    filter: drop-shadow(0px 0px 8px white);
  }
}
