.coin-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-name{
    display: flex;
    font-size:14px
}
.coin-table{
    text-align: center;
    color: white;
    /* background: linear-gradient(to right, #f2f2f2, #dbdbdb, #eaeaea); */
}

.coin-field{
  border-bottom: 1px solid rgba(128, 128, 128, 0.404) ;
}