.coin-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-name{
    display: flex;
    align-items: center;
    
}
.coin-title{
  font-size:18px;
  font-weight:600;
}
.coin-table{
    text-align: center;
    color: rgb(31, 31, 31);
    
}

.coin-field{
  height: 46px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.404) ;
}
.coin-symbol{
  text-transform: uppercase;
  font-weight: 600;
}

.red{
  color: red;
  font-weight: 500;
}
.green{
  color: rgb(6, 199, 6);
  font-weight: 500;
}