.crypto-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding-top: 30px;
}
.crypto-results{
    background: linear-gradient(to right, #f2f2f2, #e7e7e7, #f2f2f2);
    border: none;
    border-radius:6px;
    overflow: hidden;
    padding: 10px;
}
.crypto-search{
    margin-bottom:30px;
    display: flex;
    outline: none;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.crypto-search:focus{
    border: none;
    outline: none;
}

.crypto-text{
    margin-bottom:32px;
    text-align: center;
}

.crypto-input{
    padding-left:16px;
    width:300px;
    height: 50px;
    border-radius: 4px;
    font-size:20px;
    border: none;
    background-image: linear-gradient(-225deg, #c2c2c2 0%, #dddddd 48%,#afafaf 100% );
    color: #303030;
}
.crypto-input::placeholder{
    color: #5a5a5a;
}

.crypto-table{
    width:100%;
    text-align: center;
   
}
.crypto-headers{
    text-align: center;
    font-size:16px;
    padding: 6px;
    margin-bottom: 30px;
}
.icon{
    font-size:24px
}

.crypto-labels{
    margin-bottom:10px;
    padding:10px;
    color: black;
}