.header-block {
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 8;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8vh;
  background:linear-gradient(to right, #232526d0, #414345d0);
  z-index: 10;
  
}
.header-logo {
  height: 4vh;
  margin-left: 30px;
  animation: shinyLogo 5s ease infinite;
  z-index: 7;
}
.header-menu {
  color: white;
  position: fixed;
  right: 0;
  padding-right: 30px;
  font-size: 30px;
  transition: all 0.2s ease;
  z-index: 10;
}
.header-menu:hover {
  color: gold;
}

@keyframes shinyLogo {
  0% {
    filter: drop-shadow(0px 0px 8px white);
  }
  50% {
    filter: drop-shadow(1px 1px 20px white);
  }
  100% {
    filter: drop-shadow(0px 0px 8px white);
  }
}
