.navbar{
    background:linear-gradient(to right, #232526d0, #414345d0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    right:0;
    transition: all 0.4s ease;
    height: 8vh;
    z-index: 1;
    opacity: 0;
    transform: translateY(-100%);
    
}
.navbar.active{
    opacity: 1;
    transform: translateY(0);
}

.navbar-links{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding:10px 0px;
    transition: all 0.3s ease;
    
}
.navbar-links:hover{
    color: gold;
}
.navbar-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list li{
    padding: 10px;

}