.table{

  &-link{
    text-decoration: none;
  }

  &-price_down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 80%;
    border-radius: 18px;
    
    background-color:rgb(206, 21, 21);

    span{
      font-size:20px;
      color: white;
    }
    p{
      margin-left:4px;
    }

  }
  &-price_up{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 80%;
    border-radius: 18px;
    
    background-color:rgb(8, 192, 17);

    span{
      font-size:20px;
      color: white;
    }
    p{
      margin-left:4px;
    }

  }
  

  &-responsive{
    display:flex;
    
    color: white;
    align-items:center;
    flex-direction: column;
    background:linear-gradient(135deg, #aeb2b7 0%,#5D6874 100%);
    box-shadow: 1px 0px 16px 0px gray;
 
    padding:16px 20px ;
    border-radius:8px;
    margin: 10px ;
    justify-content: space-between;
  }
  &-name_container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin: 16px 0px;
    color: white;

    p{
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    
    img{
      width: 50px;
      margin-right: 10px;
      height: 50px;
      filter: drop-shadow(1px 2px 15px white);
    }
  }
  &-column_left{
    

    p{
      font-weight: 500;
      font-size:16px;
      margin: 0;
    }
    

  }
  &-column_right{
    p{
      text-align:left;
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
      font-weight:500
    }
  }

}
.fields{
  line-height:30px;
}