.markets{
  
  &__section{
    margin: 30px 10px 60px 10px;
  }

    &__legend{
        color: rgb(0, 0, 0);
        text-align: justify; 
        font-size: 18px;
        margin: 0;
      }
      &__title {
        text-transform: capitalize;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 10px 0px;
      }

      @media (max-width: 625px) {
        
        &__title {
          font-size:24px;
          padding: 10px 0px;
        }
        
      }
}