.markets{
  
  &__section{
    margin: 30px 0px 60px 0px;
  }

    &__legend{
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 18px;
      }
      &__title {
        text-transform: capitalize;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px 0px;
      }

      @media (max-width: 625px) {
        
        &__title {
          font-size:18px;
          padding: 0px
        }
        &__legend{
          font-size:14px;
        }
      }
}