.market-detail {
  margin: 30px 0px;
  height:70vh;
  background-color:var(--white-01);
    display: flex;
  align-items: center;
 

  &__block {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }

  &__card {
    box-shadow: 1px 0px 16px -4px rgb(131, 131, 131);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    flex-wrap: wrap;
    padding: 30px;
    height: auto;

    &-subtitle {
      font-size: 16px;
      margin:0;
      font-weight: bold;
      color: var(--secondary-color);
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
    }
    &-info {
      font-weight: 500;
      margin: 0;
      color: var(--gray-dark);
    }

    &-title {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      width: auto;
      padding: 10px;

      img {
        margin-bottom: 10px;
      }

      p {
        margin: 0px 10px;
        color: var(--secondary-color);
        display: flex;
        
        font-size: 24px;
        text-transform: uppercase;
        align-items: center;
        padding: 0;
        font-weight: bold;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      font-weight: 300;
      margin: 8px 0px;
    }
  }

  @media (max-width: 1024px) {
    height: auto;
    margin: 30px 10px;

    &__card {

      &-text {
        width: 50%;
      }
    }
  }
}
