.navbar {
  background-color: #acff7e;
  background-image: linear-gradient(360deg, #acff7e 0%, #cdfeaa 43%, #90ff4f 100%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
  height: 8vh;
  z-index: 1;
  opacity: 0;
  transform: translateY(-100%);

  &-links {
    color: #437A16;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 600;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(97, 97, 97);
    }
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      padding: 10px;
    }
  }
  @media (max-width: 425px) {
    &-links {
      padding: 4px 0px;
      font-size: 12px;
    }
    &-list {
      justify-content: center;
      margin: 0px 6px;

      li {
        padding: 4px;
      }
    }
  }
}
.navbar.active {
  opacity: 1;
  transform: translateY(0);
}
