.navbar {
  background: var(--primary-color);
  width: 100%;
  display: none;
  align-items: flex-start;
  justify-content: center;
  top: 0;
  right: 0;
  transition: all 0.4s ease;
  z-index: 1;
  transform: translateY(-100%);

  &-links {
    color: var(--secondary-color);
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover, &-span:hover{
      color: var(--white-01);
      text-shadow: 0px 0px 2px black;
    }
    &:focus{
      font-weight: bold;
      text-shadow: 0px 0px 2px black;

    }
  }
  &-links-logout{
    color: var(--secondary-color);
    font-size: 24px;
    cursor: pointer;
    position:absolute;
    right: 5%;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    li {
      padding: 0px 10px;
    }
  }
  @media (max-width: 425px) {
    &-links {
      padding: 4px 0px;
    }
    &-list {
      justify-content: center;
      margin: 0px 6px;

   
    }
  }
}
.navbar.active {
  transform: translateY(0);
  display: flex;
}

.mobile-icons{
  font-size:24px;

}