.contact-page{
  width: 100%;

  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  padding: 15px;
  padding: 40px 0px;

  &__img{
    margin-left: 20px;
    width: 300px;
  }
}